.main-box
  .main-box__header
    %p.main-box__header__text
      = @group.name
    %p.main-box__header__text2
      = "Menber: " + @group.users.pluck(:name).join(" ")
      
    .main-box__header__btn
      = link_to "Edit", edit_group_path(@group.id), class: "edit" 
  .main-box__center
    .main-box__center__message
      = render @messages

  .main-box__bottom
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main-box__bottom__message--form', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: "icon") 
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'main-box__bottom__btn'
      